.btn{

    height:50px;

    border:none;

    border-radius:18px;

    background:rgba(255,255,255,.55);

    color:#b30059;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

    backdrop-filter:blur(8px);

}

.btn:hover{

    transform:translateY(-4px);

    background:white;

    box-shadow:0 8px 20px rgba(255,105,180,.25);

}

.btn:active{

    transform:scale(.95);

}

.operator{

    background:#ff69b4;

    color:white;

}

.operator:hover{

    background:#ff4da6;

}

.special{

    background:#ffc0cb;

    color:#8b004b;

}

.zero{

    grid-column:span 2;

}

@media(max-width:480px){

.btn{

height:60px;

font-size:20px;

}

}