.btn{

height:70px;

border:none;

border-radius:15px;

background:#3c3c3c;

color:white;

font-size:22px;

cursor:pointer;

transition:.2s;

font-weight:bold;

}

.btn:hover{

transform:translateY(-2px);

}

.btn:active{

transform:scale(.95);

}

.operator{

background:#ff9500;

}

.operator:hover{

background:#ffac33;

}

.special{

background:#5f5f5f;

}

.zero{

grid-column:span 2;

}