.calculator{
    width:350px;
    padding:15px;
    border-radius:20px;

    background:rgba(255,192,203,0.25);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.5);

    box-shadow:0 10px 35px rgba(255,105,180,.18);
}
.title {
    font-size: 28px;
}