.history{

margin-top:20px;

background:#2b2b2b;

padding:15px;

border-radius:12px;

color:white;

max-height:180px;

overflow-y:auto;

}

.history-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:10px;

}

.history p{

padding:5px 0;

border-bottom:1px solid #444;

font-size:14px;

}